*{
    margin: 0;
    padding: 0;
}

div#inicio{
    box-shadow: 0px 0px 10px white;
    padding: 0px 10px 10px 10px;
    margin: 60px;
}

header#cabecalho{
    border-bottom: 1px black solid;
    text-align: center;
}

body {
    background-color: mediumaquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

h1 {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

a {
    font-size: 20px;
    color: white;
}

section {
    color: white;
    margin: 60px;
}

nav#menu{
    display: block;
}

footer{
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 15px;
}

table#tabela{
    border: 1px solid black;
    border-spacing: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table#tabela td{
    border: 1px solid black;
    height: 50%;
    padding: 10px;
}

table#tabela td.ce{
    background-color: black;
}

table#tabela caption{
    margin-bottom: 10px;